@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&family=Material+Icons&display=swap');
@import '~antd/dist/antd.css';
@import './tailwind.css';

* {
  box-sizing: border-box;
}

html {
  background-color: #f6f7fb;
  color: #000;
}

body {
  font-size: 14px !important;
  font-family: 'Sarabun', sans-serif !important;
  background-color: #f6f7fb !important;
  color: #000 !important;
}

.material-icons,
.material-icons-outlined {
  font-family: 'Material Icons';
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-btn-primary {
  background-color: #1890ff;
}

.ant-form-item-children-icon {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.ant-modal-confirm-content {
  margin-left: 0px !important;
}

.ant-notification-notice-description {
  margin-left: 0px !important;
}

.ant-col-8 {
  width: auto !important;
  max-width: none;
}

.ant-steps-item-icon .ant-steps-icon {
  top: -5px !important;
}
