@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300;400;500;600;700&family=Material+Icons&display=swap');
@import './tailwind.css';

* {
  box-sizing: border-box;
}

html {
  background-color: #f6f7fb;
  color: #000;
}

body {
  font-size: 14px !important;
  font-family: 'Sarabun', sans-serif !important;
  background-color: #f6f7fb !important;
  color: #000 !important;
}

.material-icons,
.material-icons-outlined {
  font-family: 'Material Icons';
}

.booking-status-0 {
  color: #000;
}
.booking-status-1 {
  color: #13b605;
}
.booking-status-2 {
  color: #f70404;
}
.booking-status-3 {
  color: #13b605;
}
.booking-status-4 {
  color: #13b605;
}

.select-input .ant-select {
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  padding: 3px 0px 3px 4px;
}

.select-input .ant-select-selection-item {
  font-weight: 700 !important;
}

.select-input .ant-select-disabled {
  background: #efefee;
  border: none;
}

.select-input .ant-select-disabled .ant-select-selection-item {
  font-weight: 700 !important;
  color: #000;
}

.ant-pagination-item-link {
  border-radius: 8px;
}

tr > td {
  cursor: pointer;
}
.search-btn {
  background: #0181ef;
  border-radius: 4px;
  color: white;
  padding: 8px 24px;
}
.search-btn:disabled {
  background: #c4c4c4;
}
.search-input {
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  padding: 8px 4px 8px 34px;
}
.search-icon {
  display: flex;
  left: 10px;
  position: absolute;
  top: 10px;
}
table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
  font-weight: 300;
}
.cell {
  background: white;
  margin-bottom: 8px;
  padding: 8px 8px;
  height: 40px;
}
.cell-header {
  margin-bottom: 8px;
}
.cell-double {
  height: 96px;
}
.cell-content {
  overflow: hidden;
}
.return-button {
  color: #666666;
}
th:nth-child(1) {
  width: 40px;
}
th:nth-child(3) {
  width: 90px;
}
th:nth-child(4) {
  width: 80px;
}
th:nth-child(5) {
  width: 175px;
}
th:nth-child(7) {
  width: 100px;
}
th:nth-child(13) {
  width: 24px;
}
th:nth-child(14) {
  width: 28px;
}
